<!DOCTYPE html>
<html>
  <head>
    <title>Playlister</title>
  </head>

  <body>
    <h5>██ ██ ██ ░░ ░░ ░░ ░░ ░░ ██ ░░ ░░ ░░ ░░ ░░ ░░ ██ ░░ ░░ ░░ ░░ ██ ██ ░░ ░░ ░░ ░░ ░░ ██ ██ ░░ ░░ ░░ ░░ <br>
██ ░░ ██ ░░ ██ ░░ ░░ ██ ░░ ██ ░░ ██ ░░ ██ ░░ ██ ░░ ░░ ██ ░░ ██ ░░ ░░ ██ ██ ██ ░░ ██ ░░ ░░ ██ ██ ██ <br>
██ ██ ██ ░░ ██ ░░ ░░ ██ ██ ██ ░░ ██ ░░ ██ ░░ ██ ░░ ░░ ██ ░░ ██ ██ ░░ ░░ ██ ░░ ░░ ██ ██ ░░ ██ ░░ ██ <br>
██ ░░ ░░ ░░ ██ ░░ ░░ ██ ░░ ██ ░░ ░░ ██ ░░ ░░ ██ ░░ ░░ ██ ░░ ░░ ██ ░░ ░░ ██ ░░ ░░ ██ ░░ ░░ ██ ██ ██ <br>
██ ░░ ░░ ░░ ██ ░░ ░░ ██ ░░ ██ ░░ ░░ ██ ░░ ░░ ██ ██ ░░ ██ ░░ ██ ██ ░░ ░░ ██ ░░ ░░ ██ ██ ░░ ██ ██ ░░ <br>
░░ ░░ ░░ ░░ ██ ██ ░░ ░░ ░░ ░░ ░░ ░░ ██ ░░ ░░ ░░ ░░ ░░ ██ ░░ ░░ ░░ ░░ ░░ ██ ░░ ░░ ░░ ░░ ░░ ██ ░░ ██ <br></h5>
    <%= yield %>
  </body>
</html>
